<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Example</key>
	<dict>
		<key>AppearanceSchema</key>
		<dict>
			<key>UIMainView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#AAFFCC</string>
					<key>tintColor</key>
					<string>#0000DD</string>
				</dict>
			</dict>
			<key>AKGradientView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFBBEE</string>
					<key>tintColor</key>
					<string>#3333AA</string>
				</dict>
			</dict>
			<key>UIButton</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>tintColor</key>
					<string>#FF0000</string>
				</dict>
				<key>ContainedInInstancesOfClasses</key>
				<array/>
			</dict>
			<key>UIToolbar</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>barTintColor</key>
					<string>#AABBCC</string>
					<key>tintColor</key>
					<string>#332211</string>
				</dict>
			</dict>
			<key>UINavigationBar</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>barTintColor</key>
					<string>#AABBCC</string>
					<key>tintColor</key>
					<string>#332211</string>
					<key>titleTextColor</key>
					<string>#FF0000</string>
				</dict>
			</dict>
			<key>UITableView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>separatorColor</key>
					<string>#FF0000</string>
				</dict>
			</dict>
			<key>UITableViewCell</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#EEEEEE</string>
				</dict>
			</dict>
		</dict>
		<key>StatusBarStyle</key>
		<string>Default</string>
		<key>KeyedColors</key>
		<dict>
			<key>mainText</key>
			<string>#880000</string>
			<key>mainSubtext</key>
			<string>#AAAAFF</string>
			<key>tableSecondaryCellBackground</key>
			<string>#AAAAAA</string>
		</dict>
		<key>IndexedColors</key>
		<array>
			<string>#6300FF</string>
			<string>#FFB500</string>
			<string>#ABA8B7 </string>
			<string>#00A3FF</string>
		</array>
	</dict>
	<key>Dark</key>
	<dict>
		<key>AppearanceSchema</key>
		<dict>
			<key>UIMainView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#001122</string>
					<key>tintColor</key>
					<string>#DD2844</string>
				</dict>
			</dict>
			<key>AKGradientView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#00BBEE</string>
					<key>tintColor</key>
					<string>#11FFAA</string>
				</dict>
			</dict>
			<key>UIButton</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>tintColor</key>
					<string>#FFBBEE</string>
				</dict>
				<key>ContainedInInstancesOfClasses</key>
				<array/>
			</dict>
			<key>UIToolbar</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>barTintColor</key>
					<string>#121212</string>
					<key>tintColor</key>
					<string>#A9A9A9</string>
				</dict>
			</dict>
			<key>UINavigationBar</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>barTintColor</key>
					<string>#121212</string>
					<key>tintColor</key>
					<string>#A9A9A9</string>
					<key>titleTextColor</key>
					<string>#FFFFFF</string>
				</dict>
			</dict>
			<key>UITableView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>separatorColor</key>
					<string>#2F2F2F</string>
				</dict>
			</dict>
			<key>UITableViewCell</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#555555</string>
				</dict>
			</dict>
		</dict>
		<key>StatusBarStyle</key>
		<string>Dark</string>
		<key>KeyedColors</key>
		<dict>
			<key>mainText</key>
			<string>#FFFFFF</string>
			<key>mainSubtext</key>
			<string>#D0D0D0</string>
			<key>tableSecondaryCellBackground</key>
			<string>#121212</string>
		</dict>
		<key>IndexedColors</key>
		<array>
			<string>#6300FF</string>
			<string>#FFB500</string>
			<string>#ABA8B7 </string>
			<string>#009BFF</string>
		</array>
	</dict>
	<key>Light</key>
	<dict>
		<key>AppearanceSchema</key>
		<dict>
			<key>UIMainView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#6CC800</string>
				</dict>
			</dict>
			<key>AKGradientView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFEE00</string>
					<key>tintColor</key>
					<string>#115522</string>
				</dict>
			</dict>
			<key>UIButton</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>tintColor</key>
					<string>#0000FF</string>
				</dict>
				<key>ContainedInInstancesOfClasses</key>
				<array/>
			</dict>
			<key>UIToolbar</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>barTintColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A9A9A9</string>
				</dict>
			</dict>
			<key>UINavigationBar</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>barTintColor</key>
					<string>#FFFFFF</string>
					<key>tintColor</key>
					<string>#A9A9A9</string>
					<key>titleTextColor</key>
					<string>#252525</string>
				</dict>
			</dict>
			<key>UITableView</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>separatorColor</key>
					<string>#EEEEEE</string>
				</dict>
			</dict>
			<key>UITableViewCell</key>
			<dict>
				<key>ColorSchema</key>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
				</dict>
			</dict>
		</dict>
		<key>StatusBarStyle</key>
		<string>Default</string>
		<key>KeyedColors</key>
		<dict>
			<key>mainText</key>
			<string>#252525</string>
			<key>mainSubtext</key>
			<string>#B4B4B4</string>
			<key>tableSecondaryCellBackground</key>
			<string>#F8F8F8 </string>
		</dict>
		<key>IndexedColors</key>
		<array>
			<string>#6300FF</string>
			<string>#FFB500</string>
			<string>#ABA8B7 </string>
			<string>#009BFF</string>
		</array>
	</dict>
</dict>
</plist>
