<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>BarStyle</key>
		<string>Default</string>
		<key>KeyedColors</key>
		<dict>
			<key>example</key>
			<string>#F8F8F8 </string>
		</dict>
		<key>IndexedColors</key>
		<array>
			<string>#6300FF</string>
			<string>#FFB500</string>
			<string>#ABA8B7 </string>
		</array>
	</dict>
	<key>Dark</key>
	<dict>
		<key>BarStyle</key>
		<string>Dark</string>
		<key>KeyedColors</key>
		<dict>
			<key>example</key>
			<string>#121212</string>
		</dict>
		<key>IndexedColors</key>
		<array>
			<string>#FFB500</string>
			<string>#ABA8B7 </string>
			<string>#6300FF</string>
		</array>
	</dict>
</dict>
</plist>
